.about{
	background: #191919;
	display: grid;
	grid-template-columns: repeat(2, 2fr);
	align-items: center;
	grid-gap: 2rem;
    .about-img img{
        max-width: 100%;
        width: 500px;
        height: auto;
        border-radius: 10px;
        @include border(3px solid $bg-celeste)
    }
    .about-text h2{
        font-size: 3rem;
        margin-bottom: 20px;
    }
    .about-text p{
        color: #585c63;
        letter-spacing: 1px;
        line-height: 28px;
        max-height: 590px;
        font-size: 20px;
        margin-bottom: 45px;
    }
    .btn{
        display: inline-block;
        background: $bg-celeste;
        color: white;
        border: 2px solid transparent;
        padding: 13px 30px;
        border-radius: 30px;
        transition: ease .35s;
    }
    .btn:hover{
        transform: translateY(-8px);
        @extend %btn-hover-sobre-mi;
    }
}
.center{
	text-align: center;
    .center h2{
        font-size: 3rem;
        margin-bottom: 15px;
    }
}
