@import '../scss/base/extend.scss';
@import '../scss/base/mixins.scss';
@import '../scss/base/variables.scss';
@import '../scss/base/fuentes.scss';
@import '../scss/componentes/home';
@import '../scss/componentes/sobre-mi';
@import '../scss/componentes/skill';
@import '../scss/componentes/portafolio';
@import '../scss/componentes/contacto';
@import '../scss/componentes/footer';
@import '../scss/componentes/media-querys.scss';


*{
	padding: 0;
	margin: 0;
	font-family: open Sans;
	box-sizing: border-box;
	text-decoration: none;
	scroll-behavior: smooth;
	scroll-padding-top: 3.5rem;
}

