@import 'extend.scss';
@import 'mixins.scss';
@import 'variables';
@import 'fuentes';
@import 'home';
@import 'sobre-mi';
@import 'skill';
@import 'portafolio';
@import 'contacto';
@import 'footer';
@import 'media-querys';



*{
	padding: 0;
	margin: 0;
	font-family: open Sans;
	box-sizing: border-box;
	text-decoration: none;
	scroll-behavior: smooth;
	scroll-padding-top: 3.5rem;
}